<div id="logo">
    <div id="title"><span class="b">MO</span><span class="a">NOT</span></div>
    <div id="logo-images">
        <img id="reveal" class="logo-image" src="/images/monot.png" alt="Scratch lilly pad">
        <img id="cover" class="logo-image" src="/images/monet.png" alt="Monet lily pad">
    </div>
    <div id="tagline">Draw it. Sort it.</div>
</div>
<div data-logo></div>
<div id="homeError"></div>
<button class="btn-primary page-button" data-view="host">Host a Game</button>
<button class="btn-ghost page-button" data-view="join">Join Game</button>
