<div data-logo></div>
<div class="card">
    <h2>Host a game</h2>
    <form id="hostForm">
        <label for="name">Your name</label>
        <input type="text" id="name" maxlength="18" required  />
        <label for="gameCode">Game code</label>
        <input type="text" id="gameCode" maxlength="18" required />
        <button id="createBtn" type="submit">Create Game</button>
    </form>
    <button class="btn-ghost page-button" data-view="home">Back</button>
</div>
<div id="hostError"></div>
